@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "./scss/variables.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $fuenteSecundario;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // ---- Estilos Body
  background: $fondo;
}

.frozty {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Scrollbar styling
::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e7e;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4949497e;
}

@import "./scss/header.scss";
@import "./scss/mainbanner.scss";
@import "./scss/popularList";
@import "./scss/listaTracks.scss";
@import "./scss/footer.scss";
