footer{
    color: $fuenteOpaco;
    font-size: 0.8em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linea {
    width: 95%;
    max-width: 1280px;
    height: 1px;
    opacity: 26%;
    background-color: $fuenteOpaco;
    position: relative;
}

.copyright{
    margin: 1em 0;
}

footer p sup{
    font-size: 0.6em;
}